{% extends "main.html" %}

{% set title = "Boka oss" %}
{% set active_page = "boka" %}

{% block body %}

<section class="boxed constrain-width">
  <h1>Boka Teknologkören!</h1>
  <h2>Vad vill ni att vi sjunger?</h2>
  <p>
  Vi sjunger för er hur ni vill, var ni vill - på valborg, lucia, konferenser,
  svensexor, födelsedagar, möhippor, bröllop, dop, begravningar,
  avtackningar och mycket mer! Kontakta vår ordförande vars epost-adress du hittar
  <a href="/kontakt/">här</a>.
  </p>
  <h2>Prisexempel</h2>
  <p>
  För 8000 kr får ni 14 sångare som sjunger sånger ur <span class="nowrap">Kongl. Teknologkörens</span> standardrepertoar i 20 minuter. Vill ni ha färre sångare kan ni t.ex. anlita en kvartett vilket kostar från 4000 kr.
  <p/>

  <p>
  Förslagen ovan är två exempel men vi är flexibla och anpassar oss gärna till era önskemål! Ni kanske vill ha ett annat antal sångare eller har en favoritsång ni vill att vi ska framföra? Tveka inte att höra av er till oss med era förslag!
  </p>
</section>

{% endblock %}
