{% extends "main.html" %}

{% set title = "Boka oss" %}
{% set active_page = "boka" %}

{% block body %}

<main class="content">
  <h1 class="first-main-header">Boka Teknologkören!</h1>
  <p>
  Kongl. Teknologkören är en ofta anlitad kör som bidrar med sång och musik vid många olika evenemang. De senaste två åren har kören framträtt både vid stora konferenser och mingel, mindre fester och middagar samt på bröllop, dop och begravningar. I december förgyller kören luciafirandet hos olika uppdragsgivare över hela Stockholm. Dessa tillfällen är otroligt uppskattade av de tusentals personer får chans att lyssna till sången.
  </p>
  <p>
  Vill du boka Kongl. Teknologkören? Vi sjunger för er hur ni vill, var ni vill – på valborg, lucia, konferenser, svensexor, födelsedagar, möhippor, bröllop, dop, begravningar, avtackningar och mycket mer!
  </p>
  <p>
  Boka oss genom att kontakta vår ordförande vars e-postadress du hittar <a href="/kontakt/">här</a>.
  </p>
  <h2>Prisexempel</h2>
  <p>
  För 8000 kr får ni 14 sångare som sjunger sånger ur <span class="nowrap">Kongl. Teknologkörens</span> standardrepertoar i 20 minuter. Vill ni ha färre sångare kan ni t.ex. anlita en kvartett vilket kostar från 4000 kr.
  </p>
  <p>
  Förslagen ovan är två exempel men vi är flexibla och anpassar oss gärna till era önskemål! Ni kanske vill ha ett annat antal sångare eller har en favoritsång ni vill att vi ska framföra? Tveka inte att höra av er till oss med era förslag!
  </p>
</main>

{% endblock %}
