{% extends "main.html" %}

{% set title = "Kontakt" %}
{% set active_page = "kontakt" %}

{% block body %}

<section class="boxed constrain-width">
  <p>E-postadresser till våra styrelsemedlemmar finnes nedan.</p>
  <div class="table">
    <table class="contacts">
      {% for tag, email in tags %}
      {% set person = board[tag] %}
      <tr>
        <td>{{ tag }}</td>
        <td>{{ person.first_name }} {{ person.last_name }}</td>
        <td><a href="mailto:{{ email }}">{{ email }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>

{% endblock %}
