{% extends "main.html" %}

{% set title = _('Book a Lucia procession') %}
{% set active_page = "lucia" %}
{% set cover_image = "lucia.jpg" %}

{% block body %}

<main class="content">
<h1 class="first-main-header">{{ _('Book a Lucia procession!') }}</h1>
<p>
{{ _('Brighten the darkness of December with a Lucia procession by Teknologkören! Every year around the Saint Lucy celebrations we perform about 20 Lucia processions at companies and organisations all around Stockholm. The last few years we have been hired for the traditional Lucia concerts in Seglora Church at Skansen.') }}
</p>
<h2>{{ _('What do you get?') }}</h2>
<p>
{{ _('One performance is usually 15&ndash;20 minutes long with 12 singers dressed in the traditional white dresses, all with burning candles. We can also offer more singers or longer performances, for example at different departments.') }}
</p>
<p>
{% autoescape false %}
{{ _('For bookings and more information, please contact our chairman, %(name)s, on %(email)s or %(phone)s.',
     name='{first_name} {last_name}',
     email='<a href="mailto:{email}">{email}</a>',
     phone='<a href="tel:{phone}">{phone}</a>'
    ).format(first_name=ordf.first_name,
             last_name=ordf.last_name,
             email=ordf.email,
             phone=ordf.phone)
}}
{% endautoescape %}
</main>

{% endblock %}
