{% extends "main.html" %}

{% set title = "Om oss" %}
{% set active_page = "om-oss" %}

{% block body %}

<img src="/static/images/img1600/2016_åland.jpg" class="cover-image" alt="Kören på Åland, 2016">

<section class="boxed constrain-width">
  <h1>Vilka är vi?</h1>
  <p>
  Kongl. Teknologkören (KTK) är <a href="http://ths.kth.se">Tekniska Högskolans Studentkårs</a> officiella kör hemmahörande på KTH i Stockholm. Vi är en blandad kör med ca 40-45 medlemmar.
  </p>
  <p>
  Vår repertoar spänner över allt som gjorts för kör; från sakral musik till världsmusik och studentikosa inslag. Förutom egna konserter och skivinspelningar har kören deltagit i större projekt av olika slag. Senast under en turné till Åbo våren 2016 där vi framförde Giuseppe Verdis Requiem tillsammans med KTH:s Akademiska kapell samt Florakören och Brahe Djäknar.
  </p>
  <p>
  Kongl. Teknologkören är en aktiv kör både musikaliskt och socialt. I kören kan du hitta både sångarglädje och vänner för livet! Vi gör mycket kul varje år, bl.a. detta:
  </p>
  <ul>
    <li>Repeterar på onsdagar mellan kl. <time>18.30</time> – <time>21.30</time>.</li>
    <li>Framför vår egen höstkonsert, julkonsert, vårkonsert samt sommarkonsert.</li>
    <li>Åker på en årlig repetitionshelg till Åland i oktober.</li>
    <li>Sjunger för nyantagna studenter på KTH:s mottagningscermonier i Stadshuset i augusti.</li>
    <li>Sjunger på KTH:s diplomeringscermonier i Stadshuset i maj samt december.</li>
    <li>Sjunger på KTH:s egen julkonsert tillsammans med KTH:s Akademiska kapell.</li>
    <li>Går ett 20-tal uppskattade luciatåg hos företag och organisationer runt om i Stockholm.</li>
    <li>Sjunger och umgås på körens årliga julfest och vårfest.</li>
  </ul>
  <p>
  Varannan sommar gör vi också en längre resa för att träffa andra körer eller delta i internationella körtävlingar. De senaste resorna har gått hit:
  </p>
  <dl>
    <dt>Bulgarien, 2015</dt>
    <dd>
    Här deltog kören i workshops om bulgarisk folkmusik och höll konserter på universitetet i Sofia samt på en biomatematik-konferens i Blagoevgrad.
    </dd>
    <dt>Portugal, 2013</dt>
    <dd>
    I Portugal sjöng vi med olika körer, bl.a. vår syskonkör vid Lissabons tekniska universitet.
    </dd>
    <dt>Barcelona, 2011</dt>
    <dd>
    Kören deltog under Barcelonas körfestival samt framförde en konsert i stadens katedral.
    </dd>
  </dl>
  <p>
  Sedan 2010 är Rikard Karlsson körens dirigent. Tidigare har kören letts av bland andra David Lundblad (2008-2010), Fredrik Winberg (2003-2007) och Helene Stureborg (1994-2002).
  </p>
  <p>
  Kören är ofta och gärna engagerad hos olika företag, ibland även privatpersoner, för att sjunga vid olika festligheter. <a href="/kontakt/">Kontakta oss</a> gärna för mer information! Vi finns på Spotify: <a href="//open.spotify.com/artist/1nTbx8aaAqaK513pOGLjZ4">Kongl. Teknologkören</a>
  </p>
</section>

{% endblock %}
