{% extends "main.html" %}

{% set title = "Sjung med oss" %}
{% set active_page = "sjung" %}

{% block body %}

<section class="boxed constrain-width">
  <h1>Vill du sjunga med oss?</h1>
  <p>Vad kul!</p>
  <p>Här följer lite info om hur en provsjungning för oss går till och hur du
  kan förbereda dig.</p>
  <p>Du kommer att få sjunga upp inför vår dirigent och någon från kören.
  Sökningen tar ca 10 minuter.</p>

  <p>
    I provsjungningen ingår:
    <ul>
      <li>Lite allmänna röstövningar enligt instruktioner från vår dirigent.</li>
      <li>
        Du framför ett valfritt stycke, a cappella eller med ackompanjemang.
        Om du inte vill sjunga a cappella så ta med noter så kan vår dirigent
        kompa dig på piano.
      </li>
      <li>Ett a vista-prov där du som söker får sjunga efter noter på ett
        stycke som du inte har kunnat förbereda dig på.</li>
      <li>
        Kvartett-sång – Du får skickat en not till dig som du kommer att få
        framföra i en kvartett tillsammans med 3 nuvarande korister. Du övar
        hemma på den stämma som du vill söka in till. Det är inget krav att
        kunna stycket utantill utan det är okej att ha noten med sig.
      </li>
    </ul>
  </p>
  <p>Vi repar på onsdagar på KTH campus Valhallavägen <time>18:30</time> till <time>21:30</time>.</p>
  <p>Om du undrar något angående våra provsjungningar så går det bra att
  kontakta vår ordförande via mail på: ordf@teknologkoren.se</p>
  <p>Det var allt, hoppas vi hörs!</p>
</section>

{% endblock %}
