.member-list, .member-list ul {
    list-style: none;
}

ul.member-matrix {
    padding: 0;
}

.member-matrix {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.member-matrix > li {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.tag-set {
    border-radius: 5px;
    padding: 10px 0 0 15px;
}
#tag-filter {
    margin-bottom: 10px;
}
.tags {
    overflow: auto;
    height: 15em;
}

#content {
    width: 100%;
    height: 13em;
}

