/* palette: http://paletton.com/palette.php?uid=73C2b0kpczF5YXuhyJVv-q5G7dw */

body {
    margin: 15px 0 50px 0;
    line-height: 1.6;
    overflow-y: scroll;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: #316bb1;
    text-decoration:  none;
}
a:hover {
    color: #000;
}

.inverted-link {
    color: #000
}
.inverted-link:hover {
    color: #316bb1;
}

article h1 {
    margin: 0;
}

article header {
    margin-bottom: 15px;
}

.boxed {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
}

.constrain-width {
    max-width: 34em;
}

.cover-image {
    width: 100%;
}

.post-text {
    margin-top: 10px;
}

.event-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.event-text p:first-child {
    margin-top: 0;
}

.event-text {
    flex: 2;
}
.event-image {
    flex: 1;
    margin-left: 15px;
}

.truncate {
    max-height: 300px;
    overflow: hidden;
}

.pageheader {
    text-align: center;
    margin-bottom: 30px;
    max-width: 36em;
    font-size: 1.1em;
}

.logo img {
    max-height: 100px;
    margin-right: 20px;
}

.logo h1 {
    margin: 0;
    font-family: serif;
    font-size: 2.1em;
    font-weight: normal;
    text-align: left;
}

.logo .tagline {
    font-weight: normal;
    font-size: 0.5em;
    text-align: left;
}

.logo img,
.logo h1 {
    display: inline-block;
    vertical-align: middle;
}

.nav {
    margin-top: 30px;
}


.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.nav li {
    margin: 0;
}
.nav .active {
    cursor: pointer;
    text-decoration: underline;
    color: #316bb1;
    font-size: 1em;
    margin: 0;
    font-weight: normal;
}

.sub-nav ul {
    justify-content: space-around;
}

.overview article {
    padding-top: 15px;
    padding-bottom: 15px;
}

.overview article~article {
    border-top: 1px solid #ddd;
}

.pager {
    display: -webkit-flex;
    display: flex;
}
.pager a {
    text-decoration: none;
}
.pager .newer {
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

.pubdate {
    font-size: small;
}

#content {
    width: 100%;
    height: 13em;
}

.table {
    overflow-x: auto;
    border-radius: 7px;
}

.contacts {
    width: 100%;
    border-collapse: collapse;
    background-color: #f3f3f3;
}

.contacts td {
    white-space: nowrap;
    height: 2em;
    padding: 0 10px 0 10px;
}

.field {
    display: block;
    margin: 20px 0;
}

.flashes {
    list-style: none;
    padding: 0;
}
.flash {
    padding: 5px 10px;
    margin: 2px auto;
    border-radius: 7px;
}
.success {
    background-color: #C9F7DD;
    border: 1px solid #62D895;
    color: #004D21;
}
.info {
    background-color: #CBDEF5;
    border: 1px solid #6797D0;
    color: #042246;
}
.error {
    background-color: #FFD9D0;
    border: 1px solid #FF9073;
    color: #6C1600;
}

.tag-set {
    border-radius: 5px;
    padding: 10px 0 0 15px;
}
#tag-filter {
    margin-bottom: 10px;
}
.tags {
    overflow: auto;
    height: 15em;
}

@media screen and (min-width: 85em) {
    .cover-image {
        width: 83em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
}

@media screen and (max-width: 38em) {
    body {
        margin-bottom: 25px;
    }

    .boxed {
        padding: 0 7px 0 7px;
    }

    .pageheader {
        margin-bottom: 30px;
    }

    .logo img {
        margin: 0;
    }

    .logo h1 {
        display: block;
        margin: 20px auto;
    }

    .logo h1,
    .logo .tagline {
        clear;
        text-align: center;
    }

    .nav ul {
        padding: 5px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .nav li {
        margin: 5px 15px;
    }

    .post-image {
        text-align: center;
    }

    .event-container {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .event-text {
        margin: 0;
    }
    .event-image {
        align-self: center;
        max-width: 15em;
    }
}
