/* palette: http://paletton.com/palette.php?uid=73C2b0kpczF5YXuhyJVv-q5G7dw */

@font-face {
    font-family: "EB Garamond";
    src: url('/static/fonts/ebgaramond/EBGaramond12-Regular.woff2') format('woff2'),
         url('/static/fonts/ebgaramond/EBGaramond12-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "EB Garamond";
    src: url('/static/fonts/ebgaramond/EBGaramond12-Italic.woff2') format('woff2'),
         url('/static/fonts/ebgaramond/EBGaramond12-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('/static/fonts/lato/LatoLatin-Black.woff2') format('woff2'),
         url('/static/fonts/lato/LatoLatin-Black.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url('/static/fonts/lato/LatoLatin-BlackItalic.woff2') format('woff2'),
         url('/static/fonts/lato/LatoLatin-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word; /* legacy */
    word-break: break-word; /* for WebKit/Chrome */
}

body {
    line-height: 1.6;
    overflow-y: scroll;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond", serif;
    text-decoration-skip: ink;
}

::selection {
    background-color: #6797d0;
    color: #fff;
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
}

#container {
    flex: 1;
    display: grid;
    grid-gap: 1.2rem 2.2rem;
    align-content: start;
    justify-items: center;
}

#container > * {
    /* Fixes overflowing content (anything other than "overflow: visible")
     * in grid. Won't overflow without this. */
    min-width: 0;
    max-width: 100%;
}

#lang {
    position: absolute;
    top: .5rem;
    right: 1rem;
}

.inline-icon img {
    width: 1rem;
    margin-right: .25rem;
    vertical-align: text-bottom;
}

.content {
    justify-self: center;
    padding: 0 1rem;
}

.content > * {
    /* Because of the above overflow rule, we have to set max-width on children
     * instead of .content itself... */
    max-width: 35rem;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.pageheader {
    padding-top: 1rem;
    max-width: 36rem;
    font-size: 1.1rem;
    justify-self: center;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    border-top: 1px solid #ddd;
}

footer #intranet {
    color: #bbb;
    position: absolute;
    right: 3rem;
}

#footer-img {
    max-width: 3rem;
    opacity: 0.7;
}

a {
    color: #316bb1;
}
a:hover {
    color: #000;
}

.inverted-link {
    color: #000
}
.inverted-link:hover {
    color: #316bb1;
}

article h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
}

article > header, article > h1 {
    margin: 1rem 0;
}

.first-main-header {
    margin-top: 0;
}

article~article {
    border-top: 1px solid #ddd;
}

.secondary {
    border-top: 1px solid #ddd;
    text-align: center;
    justify-self: stretch;
    margin: 0 1rem;
}

.secondary ul {
    list-style: none;
    padding-left: 0;
}

.secondary h1 {
    font-size: 1.7em;
    margin-top: 0.3rem;
}

.post-image {
    border-radius: 7px;
    overflow: hidden;
    vertical-align: middle;
    width: 100%
}

.event-image {
    float: right;
    width: 25%;
    min-width: 5rem;
    border: 1px solid #ddd;
    margin: 0 0 0.8rem 1rem;
}

.event-detail {
    padding: 0.5rem 1rem;
    border: solid 1px #ddd;
    border-radius: 7px;
    clear: both;
}

.truncate {
    max-height: 20rem;
    object-fit: cover;
}

.logo {
    text-align: center;
    margin: 0 .5rem;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}

.logo img {
    max-height: 100px;
}

.logo-text h1 {
    margin: 0;
    font-family: "EB Garamond", serif;
    font-size: 2.2em;
    font-weight: normal;
}

.logo .tagline {
    margin: 0;
}

.nav {
    display: inline-block;
    text-align: center;
}
.nav ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    margin: 0.3rem 1.2rem;
}
.nav .active,
.sub-nav .active {
    text-decoration: none;
    color: #316bb1;
}

.sub-nav {
    text-align: center;
    justify-self: center;
}

.sub-nav ul {
    list-style: none;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0;
    border-radius: 7px;
    border: 1px solid #ddd;
}

.pager {
    display: flex;
}
.pager .newer {
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

.pubdate {
    font-size: .95em;
}

address {
    font-style: normal;
}

address hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    width: 75%;
    max-width: 30rem;
}

.postal-address {
    text-align: center;
    font-style: italic;
}

.payment-info {
    text-align: center;
}

.table {
    overflow-x: auto;
    border-radius: 7px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
}

.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    white-space: nowrap;
    height: 2rem;
    padding: 0 10px 0 10px;
}

.flashes {
    text-align: center;
    list-style: none;
    margin: .5rem 1rem;
    padding: 0;
}
.flash {
    padding: .5rem 1rem;
    margin: .5rem auto;
    border-radius: 7px;
}
.success {
    background-color: #C9F7DD;
    border: 1px solid #62D895;
    color: #004D21;
}
.info {
    background-color: #CBDEF5;
    border: 1px solid #6797D0;
    color: #042246;
}
.error {
    background-color: #FFD9D0;
    border: 1px solid #FF9073;
    color: #6C1600;
}

@media screen and (min-width: 32rem) {
    .logo img,
    .logo-text {
        display: inline-block;
        vertical-align: middle;
    }

    .logo-text {
        text-align: left;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 62rem) {
    #container {
        grid-template-columns: 1fr 35em 1fr;
    }

    .pageheader,
    .nav,
    .cover-image {
        grid-column: -1 / 1;
    }

    .content {
        grid-column: 2;
        padding: 0;
    }

    .overflowing-content {
        grid-column: 2;
    }

    .sub-nav {
        grid-column: 1;
        justify-self: right;
        text-align: left;
        align-self: start;
    }

    .secondary {
        grid-column: 3;
        text-align: left;
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 7px;
        justify-self: left;
        align-self: start;
    }

    .secondary ul {
        margin: 0;
    }

    .secondary h1 {
        margin-top: 0;
    }

    .flashes {
        grid-column: 2;
    }
}

@media screen and (min-width: 75em) {
    .cover-image {
        width: 73em;
        justify-self: center;
        border-radius: 10px;
    }
}

@media screen and (max-width: 28em) {
    /* FIXME */
    .text-field {
        flex-direction: column-reverse;
    }

    .field-description {
        padding-left: 0;
    }
    .field-description:before {
        content: "- ";
    }
}

/***** Fallback to Flex if CSS Grid is not supported
 *     Almost all old browsers that users use (according to caniuse.com)
 *     that do not support Grid *do* support @supports.
 *     Remove when better times are upon us *****/
@supports not (display: grid) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        margin: 1rem 0;
    }

    .sub-nav {
        align-self: center;
    }

    .secondary {
        align-self: stretch;
        margin-top: 2rem;
    }

    @media screen and (min-width: 62em) {
        .secondary {
            align-self: center;
        }
    }

    .first-main-header {
        margin-top: 1rem;
    }
}
