import os


# flask secret key
SECRET_KEY = 'super secret string'

SERVER_NAME = 'www.local.dev'
ALLOWED_HOSTS = ['local.dev', 'www.local.dev', 'intranet.local.dev']

USERS = {
    # generated with `werkzeug.security.generate_password_hash("passw0rd")`
    "fernet": "pbkdf2:sha256:50000$WdGPjptE$48f54aa5327b6b0269f083bcfe24710806ce8dbb2d38adc8c7cfa2c5bff7135b"
}


BASEDIR = os.path.abspath(os.path.dirname(__file__))

SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(BASEDIR, 'app.db')
SQLALCHEMY_TRACK_MODIFICATIONS = False

TEMPLATES_AUTO_RELOAD = True

UPLOADS_DEFAULT_DEST = 'app/static/uploads/'
UPLOADS_DEFAULT_URL = '/static/uploads/'

BABEL_DEFAULT_LOCALE = 'sv'
BABEL_DEFAULT_TIMEZONE = 'CET'
