{% extends "main.html" %}

{% set title = "Boka oss" %}
{% set active_page = "boka" %}

{% block body %}

<section class="container">
  <h2>Vad vill ni att vi sjunger?</h2>
  <p>
    Vi sjunger för er hur ni vill, var ni vill - på valborg, lucia, konferenser,
    svensexor, födelsedagar, möhippor, bröllop, dop, begravningar,
    avtackningar och mycket mer! Kontakta oss <a href="/kontakt/">här</a>.
  </p>
  <h2>Prisexempel</h2>
  <p>
    För 8000 kr får ni14 sångare som sjunger sånger ur Kongl. Teknologkörens
    standardrepertoar i 20 minuter. Vill ni ha lite färre sångare så kan ni
    t.ex. anlita en kvartett vilket kostar från 4000 kr.

    Detta är bara två exempel. Vi anpassar oss gärna till era önskemål! Ni
    kanske bara vill ha en kvartett som sjunger? Ni kanske har en favoritsång
    ni vill att vi ska framföra? Vi är flexibla och anpassar oss efter era
    önskemål om antal sångare, repertoar m.m.
  </p>
</section>

{% endblock %}
