{% extends "layout.html" %}

{% set title = "Boka oss" %}
{% set active_page = "boka" %}

{% block body %}

<section class="container">
  <p>
    Här kan du boka kören!
  </p>
  <form method='POST'>
    <label>
    {{ form.csrf_token }}
    </label>
    <label>
      Namn:</br>
      {{ form.name }}
    </label>
    <label>
      Kontaktperson:</br>
      {{ form.contact }}
    </label>
    <label>
      Datum:</br>
      {{ form.date }}
    </label>
    <label>
      Plats:</br>
      {{ form.location }}
    </label>
    <label>
      Antal sångare:</br>
      {{ form.amount }}
    </label>
    <label>
      Övriga kommentarer:</br>
      {{ form.comments }}
    </label>
    <label>
      {{ form.submit }}
    </label>
  </form>
</section>

{% endblock %}
