{% extends "layout.html" %}

{% set title = "Om oss" %}
{% set active_page = "om-oss" %}

{% block body %}

<section class="container">
  <p>Nedan finns en lista över kontaktpersoner:</p>
  <p>
    Fuga eum sit id veritatis. In aspernatur quia cumque est fuga. Voluptas eaque voluptas totam sapiente tempora quae. Sed et aliquam qui qui non voluptate est officiis. Aperiam atque molestiae incidunt voluptas.
  </p>
  <p>
    Quasi dicta modi quia pariatur ipsa. Sed eligendi odit possimus sequi voluptatem ad ea eius. Rerum est doloribus eius repudiandae officia. Commodi accusamus impedit laudantium sunt rem.
  </p>
</section>

{% endblock %}
