{% extends "main.html" %}

{% set title = "Om oss" %}
{% set active_page = "om-oss" %}

{% block body %}

<img src="/static/images/2016_åland.jpg" alt="Kören på Åland 2016" max-width:100%;>

<section class="boxed constrain-width">
  <p>
    Kören består oftast av ca 45 aktiva medlemmar och repertoaren spänner över allt som gjorts för kör, sakralt såväl som profant och studentikost. Förutom egna konserter och skivor har vi deltagit i masskonserter i Globen, körfestivaler och framträtt i radio och tv. Vi är ofta och gärna engagerade av olika företag och ibland även privatpersoner för att sjunga vid olika festligheter. Kontakta oss gärna för mer information.
  </p>
  <p>
    För närvarande (2010-) är Rikard Karlsson Teknologkörens dirigent. Innan dess (2008-2010) leddes kören av David Lundblad. Dessförinnan var Fredrik Winberg, till vardags lärare på Adolf Fredriks Musikklasser, musikalisk ledare för KTK, och innan honom ledde Helene Stureborg kören.
  </p>
  <p>
    Kongl. Teknologkören är Tekniska Högskolans Studentkårs (THS) kör. Vi är ett så kallat kårorgan som sorterar under Programutskottet tillsammans med bland annat Kårspexet och Promenadorquestern.
  </p>
  <p>
    Du kan läsa mer om körens brokiga historia i en kortfattad presentation, med tiden lite mer på våra sidor om historien.
  </p>
  <p>
    Vår institutionssång är "Osquar", även kallad "Gud skydde dig Osquar".
  </p>
</section>

{% endblock %}
