{% extends "events/overview.html" %}
{% from "macros.html" import event_article %}

{% set title = _('Upcoming concerts') %}
{% if page > 1 %}
{% set title = title + " - " + _('Page') + " {}".format(page) %}
{% else %}
{% endif %}

{% set active_sub = "coming" %}

{% block overview %}
{% if pagination.items %}
{% for event in pagination.items %}
{{ event_article(event, True) }}
{% endfor %}
{% else %}
<p>
{{ _('We do not have any concerts announced at the moment! <br/> You can find our previous concerts in the <a href="{}">concert archive</a>.').format(url_for('events.archive')) }}
</p>
{% endif %}
{% endblock %}
