{% extends "layout.html" %}

{% set title="Register" %}

{% block body %}
  <div class="container">
    <form method='POST'>
      {{ form.csrf_token }}
      <h2>Add a user</h2>
      {{ form.first_name(placeholder='First name') }}
      {{ form.last_name(placeholder='Last name') }}
      {{ form.email(placeholder='Email address') }}
      {{ form.phone(placeholder='Phone number') }}
      {{ form.voice(placeholder='Voice') }}
      <label>{{ form.active() }} Active</label>
      {{ form.submit() }}
    </form>
  </div>
{% endblock %}
