{% extends "layout.html" %}

{% set title = "Logga in" %}

{% block body %}
  <div class="container">
    <form class="form-signin" method='POST'>
      {{ form.csrf_token }}
      {% if form.errors %}
        <span>Sorry, you entered an incorrect email address or password.</span>
      {% endif %}
      <h2>Sign in</h2>
      {{ form.email(placeholder='Email address') }}
      {{ form.password(placeholder='Password') }}
      <p><a href="/reset/">Forgot password?</a></p>
      <div class="checkbox">
        <label>
          {{ form.remember }} Remember me
        </label>
      </div>
      <input type=submit value="Login">
    </form>
  </div>
{% endblock %}
