{% extends "main.html" %}

{% set title = "Edit post" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.js"></script>
{% endblock %}
{% block body %}
<section class="container">
  <h2>Edit post</h2>
  <form class="edit-post" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="field">
      {{ form.title.label }}
      {{ form.title }}
    </div>
    <div class="field">
      {{ form.content(id="trix") }}
      <trix-editor input="trix" class="trix-content"></trix-editor>
    </div>
    <button id="add-upload" type="button">Add image</button>
    <div class="field">
      {{ form.upload }}
    </div>
    <div class="field">
      {{ form.published }}
      {{ form.published.label }}
    </div>
    <div class="field">
      <input type=submit value="Submit">
    </div>
  </form>
</section>

<script>
var index = 0;

function newUploadElement() {
  var uploadList = document.getElementById("upload");

  var listItem = document.createElement("li");

  var id = "upload-" + index;
  var name = "upload-" + index;

  var field = document.createElement("input");
  field.id=id, field.name=name, field.type="file";

  var remove = document.createElement("button");
  remove.innerHTML = "Remove";
  remove.addEventListener("click", removeUploadElement);

  listItem.appendChild(field);
  listItem.appendChild(remove);
  uploadList.appendChild(listItem);

  index++;
}

function removeUploadElement() {
  this.parentNode.remove();
}


document.getElementById("add-upload").addEventListener("click", newUploadElement);
</script>

{% endblock %}
