{% extends "layout.html" %}
{% set active_page = "index" %}

{% set title = "I takt med tiden" %}

{% block body %}
  <div class="container">
    <section class="overview">
      {% if current_user.is_authenticated %}
        <p><a href="/new-post/">Create new post</a></p>
      {% endif %}
      {% for post in pagination %}
        <article>
          <header>
            <h1><a href="{{ post.path + post.slug }}/">{{ post.title }}</a></h1>
            <time class="pubdate" datetime="{{ post.timestamp.strftime("%Y-%m-%dT%H:%M") }}" pubdate>
              {{ post.timestamp.strftime("%d %B %Y") }}
            </time>
          </header>
          {% if post.image %}
          <div class="{% if post is event %}event-image{% else %}post-image{% endif %}"> 
            <img src="{{ image_url(post.image) }}">
          </div>
          {% endif %}
          <p>{{ post.content|striptags|truncate(200) }}</p>
          <p><a href="{{ post.path + post.slug }}">Läs mer</a></p>
        </article>
      {% endfor %}
    </section>

    <nav class="pager">
      {% if has_next %}
        <a class="older" href="{{ url_for_other_page(page + 1) }}">
          &larr; Older</a>
      {% endif %}
      {% if page > 1 %}
        <a class="newer" href="{{ url_for_other_page(page - 1) }}">
          Newer &rarr;</a>
      {% endif %}
    </nav>
  </div>
{% endblock %}
