{% extends "main.html" %}
{% from 'macros.html' import post_article, event_article %}
{% set active_page = "index" %}

{% set title = "I takt med tiden" %}

{% block body %}
  <div class="container">
    <section class="overview">
      {% if current_user.is_authenticated %}
        <p><a href="/new-post/">Create new post</a></p>
      {% endif %}
      {% for post in pagination %}
      {% if post is event %}
      {{ event_article(post) }}
      {% else %}
      {{ post_article(post, True) }}
      {% endif %}
      {% endfor %}
    </section>

    <nav class="pager">
      {% if has_next %}
        <a class="older" href="{{ url_for_other_page(page + 1) }}">
          &larr; Older</a>
      {% endif %}
      {% if page > 1 %}
        <a class="newer" href="{{ url_for_other_page(page - 1) }}">
          Newer &rarr;</a>
      {% endif %}
    </nav>
  </div>
{% endblock %}
