{% extends "main.html" %}
{% from 'macros.html' import post_article, event_article, pager %}
{% set active_page = "index" %}

{% set title = "I takt med tiden" %}

{% block body %}
  <div class="container">
    <section class="overview">
      {% if current_user.is_authenticated %}
        <p><a href="/new-post/">Create new post</a></p>
      {% endif %}
      {% for post in pagination %}
      {% if post is event %}
      {{ event_article(post) }}
      {% else %}
      {{ post_article(post, True) }}
      {% endif %}
      {% endfor %}
    </section>

    {% if has_next or page > 1 %}
    {{ pager(has_next, page) }}
    {% endif %}
  </div>
{% endblock %}
