{% extends "layout.html" %}

{% set title = post.title %}

{% block body %}

  <div class="container">
    <article>
      <header>
        <h1>{{ post.title }}</h1>
        <time class="pubdate" datetime="{{ post.timestamp.strftime("%Y-%m-%dT%H:%M") }}" pubdate>
          {{ post.timestamp.strftime("%d %B %Y") }}
        </time>
      </header>
      {{ post.content|safe }}
    </article>
    {% if current_user.is_authenticated %}
      <p>
      <a href="/{{ post.slug }}/edit/">Edit</a>
      | <a href="/{{ post.slug }}/remove/" onclick="return confirm('This will delete post &quot;{{ post.title }}&quot;\nSure you want to do that?')">Remove</a>
      </p>
    {% endif %}
  </div>

{% endblock %}
