body {
    margin: 20px auto;
    max-width: 40em;
    font-size: 1.2em;
    line-height: 1.6;
    overflow-y: scroll;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.2;
    font-size: 1.7em;
}

a {
    color: #000;
}

article h1 {
    margin: 0;
}

article header {
    margin: 20px 0;
}

.post-image {
    max-height: 300px;
    overflow: hidden;
}

.event-image img {
    max-height: 300px;
}

.article-image img {
    max-height: 400px;
}

.pageheader {
    text-align: center;
    margin-bottom: 50px;
}

.logo img {
    margin-right: 20px;
}

.logo h1 {
    margin: 0;
    font-family: serif;
    font-size: 2.1em;
    font-weight: normal;
    text-align: left;
}

.logo .tagline {
    font-weight: normal;
    font-size: 0.5em;
    text-align: left;
}

.logo img,
.logo h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 34em;
}

.nav {
    margin-top: 30px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav li {
    margin: 0 auto;
}
.nav a {
    text-decoration: none;
}
.nav .active {
    text-decoration: underline;
}

.form-signin {
    margin: auto;
}
#email {
    display: block;
}
#password {
    display: block;
    margin-top: 5px;
}

.overview article {
    margin-bottom: 50px;
}

.pager {
    display: flex;
}
.pager a {
    text-decoration: none;
}
.pager .newer {
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

label {
    display: block;
    margin: 20px auto;
}

.pubdate {
    font-size: small;
}

.trix-content {
    min-height: 12em;
}

.table {
    overflow-x: auto;
}

.contacts {
    width: 100%;
}
.contacts td {
    white-space: nowrap;
    height: 2em;
    padding-right: 10px;
}

@media screen and (max-width: 38em) {
    .pageheader {
        margin-bottom: 30px;
    }

    .logo img {
        margin: 0;
    }

    .logo h1 {
        display: block;
        margin: 20px auto;
    }

    .logo h1,
    .logo .tagline {
        clear;
        text-align: center;
    }
    .nav ul {
        display: block;
    }

    .nav li {
        margin: 5px;
        width: 5.5em;
        height: 1.5em;
        display: inline-block;
    }

    .container {
        margin: 30px 0;
    }

    article header {
        text-align: center;
    }

    .post-image, .event-image {
        text-align: center;
    }

    .article-image {
        text-align: center;
    }

    .article-image img {
        max-height: 300px;
    }
}

