header {
    text-align: center;
}

body {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    overflow-y: scroll;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.2;
}

small {
    font-size: 14px;
    font-weight: normal;
}

a {
    color: #444;
}

.logo img {
    height: 100px;
}

.logo h1 {
    font-family: serif;
    margin: 0 20px;
}

.logo .tagline {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.logo img,
.logo h1 {
    display: inline-block;
    vertical-align: middle;
}

.box {
    margin: 20px auto;
    padding: 0 20px;
    max-width: 800px;
}

.nav {
    margin: 15px 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li {
    display: inline-block;
    margin: 0 20px;
}
.nav a {
    text-decoration: none;
    color: #444;
}
.nav .active {
    text-decoration: underline;
}

.form-signin {
    margin: auto;
}
#email {
    display: block;
}
#password {
    display: block;
    margin-top: 5px;
}

.container {
    margin: 50px auto;
    max-width: 650px;
}

.overview article {
    margin-bottom: 50px;
}

.pager a {
    text-decoration: none;
    color: #444;
    margin-bottom: 20px;
}

.pager .older {
    float: left;
}

.pager .newer {
    float: right;
}

label {
    display: block;
    margin: 20px auto;
}
