/* palette: http://paletton.com/palette.php?uid=73C2b0kpczF5YXuhyJVv-q5G7dw */

body {
    margin: 15px 0 50px 0;
    font-size: 1.2em;
    line-height: 1.6;
    overflow-y: scroll;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1.2;
}
h1 {
    font-size: 1.7em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}

a {
    color: #000;
}

article h1 {
    margin: 0;
}

article header {
    margin: 20px 0;
}

.boxed {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
}

.constrain-width {
    max-width: 34em;
}

.post-text {
    margin-top: 10px;
}

.event-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.event-text {
    margin-right: 15px;
}
.event-image {
    max-width: 200px;
    -webkit-flex: none;
    flex: none;
}

.post-image img {
    max-height: 400px;
}

.truncate {
    max-height: 300px;
    overflow: hidden;
}

.pageheader {
    text-align: center;
    margin-bottom: 40px;
    max-width: 36em;
}

.logo img {
    max-height: 100px;
    margin-right: 20px;
}

.logo h1 {
    margin: 0;
    font-family: serif;
    font-size: 2.1em;
    font-weight: normal;
    text-align: left;
}

.logo .tagline {
    font-weight: normal;
    font-size: 0.5em;
    text-align: left;
}

.logo img,
.logo h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo a {
    text-decoration: none;
}

.nav {
    margin-top: 30px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}
.nav li {
    margin: 0;
}
.nav a {
    text-decoration: none;
}
.nav .active {
    text-decoration: underline;
}

.overview article {
    margin-bottom: 50px;
}

.pager {
    display: -webkit-flex;
    display: flex;
}
.pager a {
    text-decoration: none;
}
.pager .newer {
    margin-left: auto;
}

.nowrap {
    white-space: nowrap;
}

.pubdate {
    font-size: small;
}

.trix-content {
    min-height: 12em;
}

.table {
    overflow-x: auto;
    border-radius: 7px;
}

.contacts {
    width: 100%;
    border-collapse: collapse;
    background-color: #f3f3f3;
}

.contacts td {
    white-space: nowrap;
    height: 2em;
    padding: 0 10px 0 10px;
}

.field {
    display: block;
    margin: 20px 0;
}

.flashes {
    list-style: none;
    padding: 0;
}
.flash {
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 7px;
}
.success {
    background-color: #C9F7DD;
    border: 1px solid #62D895;
    color: #004D21;
}
.info {
    background-color: #CBDEF5;
    border: 1px solid #6797D0;
    color: #042246;
}
.error {
    background-color: #FFD9D0;
    border: 1px solid #FF9073;
    color: #6C1600;
}

.tag-set {
    border-radius: 5px;
    padding: 10px 0 0 15px;
}
#tag-filter {
    margin-bottom: 10px;
}
.tags {
    overflow: auto;
    height: 15em;
}

@media screen and (max-width: 38em) {
    body {
        margin-bottom: 25px;
    }

    .boxed {
        padding: 0 7px 0 7px;
    }

    .pageheader {
        margin-bottom: 30px;
    }

    .logo img {
        margin: 0;
    }

    .logo h1 {
        display: block;
        margin: 20px auto;
    }

    .logo h1,
    .logo .tagline {
        clear;
        text-align: center;
    }

    .nav ul {
        padding: 5px;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .nav li {
        margin: 5px 15px;
    }

    .container {
        margin: 30px 0;
    }

    .post-image {
        text-align: center;
    }

    .event-container {
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .event-text {
        margin: 0;
    }
    .event-image {
        align-self: center;
    }
}
