{% extends "intranet/layout.html" %}

{% set active_page = "profile" %}

{% set title = "Intranät" %}

{% block body %}
<div class="boxed constrain-width">
  <h2>{{ current_user.first_name }} {{ current_user.last_name }}</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="field text-field">
      {{ form.password.label }}
      {{ form.password }}
    </div>

    <div class="field text-field">
      {{ form.new_password.label }}
      {{ form.new_password }}
    </div>

    <div class="field">
      <input type=submit value="Submit">
    </div>

    <a href="{{ url_for('.profile', id=current_user.id) }}">Cancel</a>
  </form>
</div>
{%- endblock %}
