{% extends "intranet/layout.html" %}

{% from "macros.html" import img, text_field, event_article %}

{% set title = "Edit event" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css">
{% endblock %}
{% block body %}
<section class="boxed constrain-width">
  {% if event %}
  <h2>Preview</h2>
  {{ event_article(event, overview=True) }}
  {% endif %}

  <h2>Edit event</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ text_field(form.title) }}

    <div class="field">
      {{ form.content }}
    </div>

    {{ text_field(form.start_time, placeholder='YYYY-MM-DD hh:mm') }}

    {{ text_field(form.location) }}


    <div class="field">
      <p>Upload new image:</p>
      {{ form.upload }}
    </div>

    <div class="field">
      {{ form.published }}
      {{ form.published.label }}
    </div>

    <div class="field">
      <input type=submit value="Submit">
    </div>
  </form>
  {% if event %}
  <p>
  <a id="remove" href="{{ url_for('.remove_event', event_id=event.id, slug=event.slug) }}">Remove</a>
  </p>
  {% endif %}
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>

<script>
jQuery('#start_time').datetimepicker({
  format:'Y-m-d H:i'
});
</script>
<script>
var simplemde = new SimpleMDE({
  element: document.getElementById("content"),
  spellChecker: false,
});
</script>
{% if event %}
<script>
document.getElementById("remove").addEventListener("click", function (event) {
  if (!confirm('This will delete event "{{ event.title }}"\nAre you sure you want to do that?')) {
    event.preventDefault();
  }
}, false)
</script>
{% endif %}
{% endblock %}
