{% extends "intranet/layout.html" %}

{% from "macros.html" import img, text_field, post_article %}

{% set title = "Edit post" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}
{% block body %}
<section class="boxed constrain-width">
  {% if post %}
  <h2>Preview</h2>
  {{ post_article(post, overview=True) }}
  {% endif %}

  <h2>Edit post</h2>
  <form class="edit-post" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    {{ text_field(form.title) }}

    <div class="field">
      {{ form.content }}
    </div>

    <div class="field">
      <p>Upload new image:</p>
      {{ form.upload }}
    </div>

    <div class="field">
      {{ form.published }}
      {{ form.published.label }}
    </div>

    <div class="field">
      <input type=submit value="Submit">
    </div>
  </form>
  {% if post %}
  <p>
  <a id="remove" href="{{ url_for('.remove_post', post_id=post.id, slug=post.slug) }}">Remove</a>
  </p>
  {% endif %}
</section>

<script>
var simplemde = new SimpleMDE({
  element: document.getElementById("content"),
  spellChecker: false,
});
</script>
{% if post %}
<script>
document.getElementById("remove").addEventListener("click", function (event) {
  if (!confirm('This will delete post "{{ post.title }}"\nAre you sure you want to do that?')) {
    event.preventDefault();
  }
}, false)
</script>
{% endif %}
{% endblock %}
