{% extends "base.html" %}

{% set navigation_bar = [
(url_for('.index'), 'intranet', 'Intranät'),
(url_for('.voices'), 'members', 'Medlemmar'),
(url_for('.my_profile'), 'profile', 'Profil'),
] %}

{% if current_user.has_tag('Webmaster') or current_user.has_tag('PRoletär') %}
{% do navigation_bar.append((url_for('.admin'), 'admin', 'Administration')) %}
{% endif %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/intranet.css') }}">
{% endblock %}

{% block logo %}
<a href="{{ url_for('.index') }}" class="inverted-link">
  <img src="{{ url_for('static', filename='images/logo.svg') }}">
  <h1>
    Kongl. Intranätet
    <div class="tagline">
      I takt med webben
      <span class="nowrap">- sedan 2016</span>
    </div>
  </h1>
</a>
{% endblock %}
{% block footer %}
<footer>
  <img id="footer-img" src="{{ url_for('static', filename='images/logo_grey.svg') }}">
</footer>
{% endblock %}
