{% extends "intranet/layout.html" %}

{% set active_page = "members" %}

{% set title = "Medlemmar" %}

{% block body %}
<div class="boxed">
  <ul class="member-list member-matrix">
    {% for column in columns %}
    <li><h1>{{ column }}</h1>
      <ul>
        {% for row in rows %}
        <li><h2>{{ row }}</h2>
          <ul>
            {% for member in tag_dict[column][row] %}
            <li><a href="/intranet/profile/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
</div>
{%- endblock %}
