{% extends "intranet/layout.html" %}

{% set active_page = "members" %}

{% set title = "Medlemmar" %}

{% set subnav = [
(url_for('.filter_members'), 'filter', 'Filter members'),
] %}

{% block body %}
<main class="content">
  <ul class="member-list">
    {% for tag in tag_list %}
    <li><h2>{{ tag }}</h2>
      <ul>
        {% for member in tag_dict[tag] %}
        <li><a href="{{ url_for('.member', id=member.id) }}">{{ member.first_name }} {{ member.last_name }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
</main>
{% endblock %}
