{% extends "intranet/admin.html" %}

{% set active_sub = "events" %}

{% set title = "Events" %}

{% block body %}
<div class="boxed constrain-width">
  <h2>Events</h2>
  <p><a href="{{ url_for('.new_event') }}">Create a new event</a></p>
  <ul>
    {% for event in events %}
    <li>
      <a href="{{ url_for('.edit_event', event_id=event.id, slug=event.slug) }}">{{ event.title }}{% if not event.published %} [Not published]{% endif %}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

