{% extends "intranet/layout.html" %}

{% set title = "Edit post" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.js"></script>
{% endblock %}
{% block body %}
<section class="container">
  <h2>Edit post</h2>
  <form class="edit-post" method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="field">
      {{ form.title.label }}
      {{ form.title(class="form-input") }}
    </div>
    <div class="field">
      {{ form.content(id="trix") }}
      <trix-editor input="trix" class="trix-content"></trix-editor>
    </div>
    <div class="field">
      {{ form.upload(class="form-input") }}
    </div>
    <div class="field">
      {{ form.published(class="form-input") }}
      {{ form.published.label }}
    </div>
    <div class="field">
      <input type=submit value="Submit">
    </div>
  </form>
  {% if post %}
  <p>
    <a id="remove" href="/intranet/remove-post/{{ post.id }}/{{ post.slug }}/">Remove</a>
  </p>
  {% endif %}
</section>

{% if post %}
<script>
document.getElementById("remove").addEventListener("click", function (event) {
  if (!confirm('This will delete post "{{ post.title }}"\nAre you sure you want to do that?')) {
    event.preventDefault();
  }
}, false)
</script>
{% endif %}
{% endblock %}
