{% extends "intranet/layout.html" %}

{% set active_page = "profile" %}

{% set title = "Intranät" %}

{% block body %}
<div class="container">
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="field">
      {{ form.email.label }}
      {{ form.email }}
    </div>

    <div class="field">
      {{ form.phone.label }}
      {{ form.phone }}
    </div>

    <div class="field">
      {{ form.password.label }}
      {{ form.password }}
    </div>

    <div class="field">
      <input type=submit value="Submit">
    </div>

    <a href="/intranet/profile/{{ user.id }}/">Cancel</a>
  </form>
</div>
{%- endblock %}
