{% extends "intranet/layout.html" %}

{% if current_user.id == user.id %}
{% set active_page = "profile" %}
{% else %}
{% set active_page = "members" %}
{% endif %}

{% set title = "Intranät" %}

{% block body %}
<div class="container">
  <h2>{{ user.first_name }} {{ user.last_name }}</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div class="field">
      <label for="first_name">First name: </label>
      {{ form.first_name() }}
    </div>

    <div class="field">
      <label for="last_name">Last name: </label>
      {{ form.last_name() }}
    </div>

    <div class="field">
      <label for="email">Email: </label>
      {{ form.email() }}
    </div>

    <div class="field">
      <label for="phone">Number: </label>
      {{ form.phone() }}
    </div>

    <div class="field">
      <label for="password">Password: </label>
      {{ form.password() }}
    </div>

    <div class="field">
      {{ form.active() }}
      <label for="active">Active</label>
    </div>

    <fieldset class="tags">
      {{ form.tags.csrf_token }}

      <legend>Tags</legend>

      <input type="text" id="filter" placeholder="Filter">
      {% for field in form.tags if field.name != "tags-csrf_token" %}
      <div class="field">
        {{ field }}
        {{ field.label }}
      </div>
      {% endfor %}
    </fieldset>

    <div class="field">
      <input type=submit value="Submit">
    </div>

    <a href="/intranet/profile/{{ user.id }}/">Cancel</a>
  </form>
</div>

<script>
var filter = document.getElementById("filter");

filter.addEventListener("input", function ()
    {
      var re = new RegExp(filter.value, "i");

      var tags = document.getElementsByClassName("tags")[0].getElementsByClassName("field");

      for (var i = 0; i < tags.length; i++) {
        var label = tags[i].getElementsByTagName("label")[0];
        if (re.test(label.innerHTML)) {
          tags[i].style.display = "block";
        } else {
          tags[i].style.display = "none";
        }
      }
    })
</script>
{%- endblock %}
