{% extends "main.html" %}

{% set title = "Edit event" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css">
{% endblock %}
{% block body %}
<section class="container">
  <h2>Edit post</h2>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="field">
      {{ form.title.label }}
      {{ form.title }}
    </div>
    <div class="field">
      {{ form.content(id="trix") }}
      <trix-editor input="trix" class="trix-content"></trix-editor>
    </div>
    <div class="field">
      {{ form.start_time.label }}
      {{ form.start_time(placeholder='YYYY-MM-DD hh:mm') }}
    </div>
    <div class="field">
      {{ form.location.label }}
      {{ form.location }}
    </div>
    <div class="field">
      {{ form.upload() }}
    </div>
    <div class="field">
      {{ form.published }}
      {{ form.published.label }}
    </div>
    <div class="field">
      <input type=submit value="Submit">
    </div>
  </form>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.7/trix.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>

<script>
jQuery('#start_time').datetimepicker({
  format:'Y-m-d H:i'
});
</script>
{% endblock %}
