{% extends "main.html" %}
{% from "macros.html" import event_article %}

{% set title = "Konserter" %}
{% set active_page = "konserter" %}

{% block body %}
<div class="container">
  <section class="overview">
    {% if current_user.is_authenticated %}
    <p><a href="/konserter/new-event/">Create new event</a></p>
    {% endif %}
    {% for event in pagination %}
    {{ event_article(event) }}
    {% endfor %}
  </section>
  <nav class="pager">
    {% if has_next %}
    <a class="older" href="{{ url_for_other_page(page + 1) }}">
      &larr; Older</a>
    {% endif %}
    {% if page > 1 %}
    <a class="newer" href="{{ url_for_other_page(page - 1) }}">
      Newer &rarr;</a>
    {% endif %}
  </nav>
</div>
{% endblock %}
