{% extends "main.html" %}
{% from "macros.html" import event_article, pager %}

{% set title = "Konserter" %}
{% set active_page = "konserter" %}

{% block body %}
<div class="container">
  <nav class="nav">
    <ul>
      <li{% if active_sub == "kommande"  %} class="active"{% endif %}>
        <a href="/konserter/">Kommande konserter</a>
      </li>
      <li{% if active_sub == "arkiv" %} class="active"{% endif %}>
        <a href="/konserter/arkiv/">Konsertarkiv</a>
      </li>
    </ul>
  </nav>
  <section class="overview">
    {% block overview %}{% endblock %}
  </section>
  {% if has_next or page > 1 %}
  {{ pager(has_next, page) }}
  {% endif %}
</div>
{% endblock %}
