{% extends "layout.html" %}

{% set title = event.title %}

{% block body %}

  <div class="container">
    <article>
      <header>
        <h1>{{ event.title }}</h1>
      </header>
      {% if event.image %}
      <div class="article-image">
        <img src="{{ resized_img_src(event.image, height=400) }}">
      </div>
      {% endif %}
      {{ event.content|safe }}
    {% if current_user.is_authenticated %}
      <p>
      <a href="/konserter/{{ event.slug }}/edit/">Edit</a>
      | <a href="/konserter/{{ event.slug }}/remove/" onclick="return confirm('This will delete event &quot;{{ event.title }}&quot;\nSure you want to do that?')">Remove</a>
      </p>
    {% endif %}
    </article>
  </div>

{% endblock %}
