{% extends "main.html" %}
{% from 'macros.html' import post_article, event_article, pager, img %}
{% set active_page = "index" %}

{% set title = "I takt med tiden" %}

{% if page == 1 %}
{% set cover_image = "/static/images/ktk.jpg" %}
{% endif %}

{% block body %}
<section class="overview boxed constrain-width">
  {% for post in pagination.items %}
  {% if post is event %}
  {{ event_article(post, True) }}
  {% else %}
  {{ post_article(post, True) }}
  {% endif %}
  {% endfor %}

  {% if pagination.has_next or page > 1 %}
  {{ pager(pagination.has_next, page) }}
  {% endif %}
</section>

<section class="secondary">
  <h1>Länkar</h1>
  <ul>
    <li><a href="https://www.facebook.com/teknologkoren">KTK på Facebook</a></li>
    <li><a href="https://open.spotify.com/artist/1nTbx8aaAqaK513pOGLjZ4">KTK på Spotify</a></li>
    <li><a href="https://www.youtube.com/channel/UClRDp_qogWpxfa8pFxtWSnw">KTK på YouTube</a></li>
    <li><a href="https://soundcloud.com/kongl-teknologk-ren">KTK på SoundCloud</a></li>
    <li><a href="https://github.com/teknologkoren">KTK på GitHub</a></li>
    <li><a href="/feed">RSS-flöde</a></li>
  </ul>
</section>
{% endblock %}
