{% extends "main.html" %}
{% from 'macros.html' import post_article, event_article, pager, img %}
{% set active_page = "index" %}

{% if page == 1 %}
{% set title = "I takt med tiden" %}
{% set cover_image = "ktk.jpg" %}
{% else %}
{% set title = "I takt med tiden - " + _('Page') + " {}".format(page) %}
{% endif %}

{% block body %}
<main class="content">
  {% for post in pagination.items %}
  {% if post is event %}
  {{ event_article(post, True) }}
  {% else %}
  {{ post_article(post, True) }}
  {% endif %}
  {% endfor %}

  {% if pagination.has_next or page > 1 %}
  {{ pager(pagination.has_next, page) }}
  {% endif %}
</main>

<aside class="secondary">
  <h1>{{ _('Links') }}</h1>
  <ul>
    <li><a href="https://www.facebook.com/teknologkoren">{{ _('KTK on Facebook') }}</a></li>
    <li><a href="https://www.instagram.com/kongl.teknologkoren/">{{ _('KTK on Instagram') }}</a></li>
    <li><a href="https://open.spotify.com/artist/1nTbx8aaAqaK513pOGLjZ4">{{ _('KTK on Spotify') }}</a></li>
    <li><a href="https://www.youtube.com/channel/UClRDp_qogWpxfa8pFxtWSnw">{{ _('KTK on YouTube') }}</a></li>
    <li><a href="https://soundcloud.com/kongl-teknologk-ren">{{ _('KTK on SoundCloud') }}</a></li>
    <li><a href="https://github.com/teknologkoren">{{ _('KTK on GitHub') }}</a></li>
    <li>
      <a class="inline-icon" href="{{ url_for('general.atom_feed') }}">
        <img src="{{ url_for('static', filename='images/feed_icon.svg') }}" alt="{{ _('RSS or Atom Syndication') }}">{{ _('News feed') }}
      </a>
    </li>
  </ul>
</aside>
{% endblock %}
