[Unit]
Description=teknologkoren.se gunicorn daemon
After=network.target

[Service]
User=teknologkoren-se
Group=teknologkoren-se
WorkingDirectory=/home/teknologkoren-se/teknologkoren-se
RuntimeDirectory=teknologkoren-se
Environment="PATH=/home/teknologkoren-se/.pyenv/versions/3.6.0/envs/venv/bin"
ExecStart=/home/teknologkoren-se/.pyenv/versions/3.6.0/envs/venv/bin/gunicorn -w 3 -b unix:/run/teknologkoren-se/teknologkoren-se.sock teknologkoren_se:app

[Install]
WantedBy=multi-user.target
