<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Kongl. Teknologkören</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  </head>
  <body>
    {% set active_page = active_page -%}
    <header class="pageheader boxed">
      <div class="logo">
        {% block logo %}{% endblock %}
      </div>
      <nav class="nav">
        <ul>
          {% for href, id, caption in navigation_bar -%}
          <li class="nowrap">
            {% if id == active_page %}
            <span class="active">{{ caption|e }}</span>
            {% else %}
            <a href="{{ href|e }}" class="inverted-link">{{ caption|e }}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    {% if get_flashed_messages() %}
    <div class="constrain-width boxed">
      {% for type in ['success', 'info', 'error'] %}
      {% with messages = get_flashed_messages(category_filter=[type]) %}
      {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li class="flash {{ type }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% endfor %}
    </div>
    {% endif %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
