{% macro post_article(post, overview) %}
<article class="boxed constrain-width">
  <header>
    <h1>
      {% if overview %}
      <a href="{{ url_for('blog.view_post', post_id=post.id, slug=post.slug) }}" class="inverted-link">{{ post.title }}</a>
      {% else %}
      {% if not post.published %}[Not published] {% endif %}{{ post.title }}
      {% endif %}
    </h1>
    <time class="pubdate" datetime="{{ post.timestamp.strftime("%Y-%m-%dT%H:%M") }}">
      {{ post.timestamp.strftime("%d %B %Y") }}
    </time>
  </header>
  {% if post.image %}
  <div class="post-image{% if overview %} truncate{% endif %}">
    {{ img(post.image, 800) }}
  </div>
  {% endif %}
  <div class="post-text">
    {{ post.content_to_html()|safe }}
  </div>
</article>
{% endmacro %}

{% macro event_article(event, overview) %}
<article class="boxed constrain-width">
  <header>
    <h1>
      {% if overview %}
      <a href="{{ url_for('events.view_event', event_id=event.id, slug=event.slug) }}" class="inverted-link">{{ event.title }}</a>
      {% else %}
      {% if not event.published %}[Not published] {% endif %}{{ event.title }}
      {% endif %}
    </h1>
  </header>
  <div class="event-container">
    <div class="event-text">
      {{ event.content_to_html()|safe }}
      <dl class="event-detail">
        <dt>Tid:</dt>
        <dd>
        <time datetime="{{ event.start_time.strftime("%Y-%m-%dT%H:%M") }}">
          {{ event.start_time.strftime("%d %B %Y, klockan %H:%M") }}
        </time>
        </dd>
        <dt>Plats:</dt>
        <dd>{{ event.location }}</dd>
      </dl>
    </div>
    {% if event.image %}
    <div class="event-image">
      <a href="{{ image_url(event.image) }}">
        {{ img(event.image, 400) }}
      </a>
    </div>
    {% endif %}
  </div>
</article>
{% endmacro %}

{% macro pager(has_next, page) %}
<nav class="pager constrain-width boxed">
  {% if has_next %}
  <a class="older inverted-link" href="{{ url_for_other_page(page + 1) }}">
    &larr; Äldre</a>
  {% endif %}
  {% if page > 1 %}
  <a class="newer inverted-link" href="{{ url_for_other_page(page - 1) }}">
    Nyare &rarr;</a>
  {% endif %}
</nav>
{% endmacro %}

{% macro img(image, size) %}
<img src="{{ image_dest() }}img{{ size }}/{{ image }}">
{% endmacro %}

{% macro text_field(field, description=True) %}
<div class="field">
  {{ field.label }}
  <div class="text-field">
    <span>{{ field(*varargs, **kwargs) }}</span>
    {% if description and field.description %}
    <span class="field-description">
      {{ field.description }}
    </span>
    {% endif %}
  </div>
</div>
{% endmacro %}
