{% extends "base.html" %}

{% set navigation_bar = [
(url_for('blog.index'), 'index', 'Hem'),
(url_for('general.om_oss'), 'om-oss', 'Om oss'),
(url_for('events.index'), 'konserter', 'Konserter'),
(url_for('general.boka'), 'boka', 'Boka'),
(url_for('general.sjung'), 'sjung', 'Sjung med'),
(url_for('general.kontakt'), 'kontakt', 'Kontakt'),
] %}

{% block logo %}
<a href="/" class="inverted-link">
  <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Kongl. Teknolokörens logotyp">
  <div class="logo-text">
    <h1>
      Kongl. Teknologkören
    </h1>
    <div class="tagline">
      I takt med tiden <span class="nowrap">- sedan 1930</span>
    </div>
  </div>
</a>
{% endblock %}
{% block footer %}
<footer>
  <img id="footer-img" src="{{ url_for('static', filename='images/logo_grey.svg') }}" alt="Kongl. Teknologkörens logotyp">
</footer>
{% endblock %}
