<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Kongl. Teknologkören</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  </head>
  <body>
    {% set active_page = active_page -%}
    <header class="pageheader">
      <div class="logo">
        {% block logo %}{% endblock %}
      </div>
      <nav class="nav">
        <ul>
          {% for href, id, caption in navigation_bar -%}
          <li{% if id == active_page %} class="active"{% endif %}>
            <a href="{{ href|e }}">{{ caption|e }}</a>
          </li>
          {% endfor -%}
        </ul>
      </nav>
    </header>
    {% block body %}{% endblock %}
  </body>
</html>
