{% extends "layout.html" %}
{% set active_page = "index" %}

{% set title = "I takt med tiden" %}

{% block body %}

<section class="container">
  {% if current_user.is_authenticated %}
  <p><a href="/index/new-post/">Create new post</a></p>
  {% endif %}
  {%- for post in pagination %}
  <article>
    <h2><a href="/{{ post.slug }}/">{{ post.title }}</a></h2>
  {{ post.content|safe }}
  </article>
  {%- endfor %}
</section>

<div class="container">
  <nav class="pager">
    {%- if has_next %}
    <a class="older" href="{{ url_for_other_page(page + 1) }}">
    {%- else %}
    <a class="older disabled" href="#">
    {%- endif %}
      &larr; Older</a>
    {%- if page > 1 %}
    <a class="newer" href="{{ url_for_other_page(page - 1) }}">
      Newer &rarr;</a>
    {%- endif %}
  </nav>
</div>

{% endblock %}
